
*{
    margin: 0;
    padding: 0;
}

.wrp{
    display: inline-flex;
}
body{
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
min-height: 100vh;
}

.wrp .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrp .dynamic-txts{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: -13px;
    animation: slide 6s steps(2) infinite;
}
@keyframes slide{
    100%{
      top: -180px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    background-color: #161616;
    height: 100%;
    width: 100%;
    border-left: 2px solid #fc6d6d;
    left: 0;
    animation: typing 1.5s steps(13) infinite;
    
}

@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }